<main class="main">
  <div class="content">
    <h1 class="title">To-Do App</h1>

    <div class="new-to-do">
      <input pInputText placeholder="Name of the task" [(ngModel)]="taskName" class="task-input" />
      <p-button label="Add" icon="pi pi-plus" class="add-button" (click)="addNewToDo()"></p-button>
    </div>

    <div class="tasks">
      <ul class="task-list">
        <li class="task-item" *ngFor="let task of tasks">
          <span class="task-name">{{ task }}</span>
          <div class="task-actions">
            <p-button icon="pi pi-pencil" class="update-button" (click)="updateTheTask(task)"
              tooltip="Update Task"></p-button>
            <p-button (click)="deleteTheTask(task)" icon="pi pi-trash" />

          </div>
        </li>
      </ul>
    </div>
  </div>
</main>




<p-confirmdialog />
<router-outlet />