<main class="main">
  <div class="content">

    <div style="display: flex; justify-content: center; align-items: center; gap: 10px;">
      <h1 class="title">To-Do App</h1>
      <p-button (click)="showAddDialog()" icon="pi pi-plus" />
    </div>

    <div class="tasks">
      <ul class="task-list">
        <li class="task-item" *ngFor="let task of tasks">
          <span class="task-name">{{ task }}</span>
          <div class="task-actions">
            <p-button icon="pi pi-pencil" class="update-button" (click)="showUpdateDialog(task)"
              tooltip="Update Task"></p-button>
            <p-button (click)="deleteTheTask(task)" icon="pi pi-trash" />

          </div>
        </li>
      </ul>
    </div>
  </div>
</main>



<div class="new-to-do">
  <p-dialog header="Update the To-Do" [modal]="true" [(visible)]="visibleUpdateDialog" [style]="{ width: '25rem' }"
    [contentStyle]="{'padding': '2rem'}" [baseZIndex]="10000">
    <div class="dialog-content">
      <input pInputText placeholder="Name of the task" value={{currentTask}} [(ngModel)]="updatedTask"
        class="task-input" />
    </div>
    <div class="dialog-footer">
      <p-button label="Cancel" severity="secondary" (click)="visibleAddDialog = false"></p-button>
      <p-button label="Save" (click)="updateTheTask(currentTask, updatedTask)"></p-button>
    </div>
  </p-dialog>
</div>

<div class="new-to-do">
  <p-dialog header="Add a new To-Do" [modal]="true" [(visible)]="visibleAddDialog" [style]="{ width: '25rem' }"
    [contentStyle]="{'padding': '2rem'}" [baseZIndex]="10000">
    <div class="dialog-content">
      <input pInputText placeholder="Name of the task" [(ngModel)]="taskName" class="task-input" />
    </div>
    <div class="dialog-footer">
      <p-button label="Cancel" severity="secondary" (click)="visibleAddDialog = false"></p-button>
      <p-button label="Save" (click)="addNewToDo()"></p-button>
    </div>
  </p-dialog>
</div>

<p-confirmdialog />

<router-outlet />