

<main class="main">
  <div class="content" style="display: flex; flex-direction: column;justify-content: center; align-items: center;">
  <h1>to do App</h1>
  <div class="new-to-do">
    <input placeholder="name of the task" [(ngModel)]="taskName" />
    <button (click)="addNewToDo()"> add </button>
  </div>

  <div class="tasks">
    <ul>
      <li *ngFor="let task of tasks">
            {{task}} <button> update</button> <button>delete</button>
      </li>
    </ul>
  </div>
  </div>
</main>




<router-outlet />
